{% extends 'blog/base.html' %}

{% block title %}Contacts{% endblock %}

{% block content %}
    <div class="container">
        <h1>Contact Me</h1>

        <p>Thank you for visiting my literary blog! If you’d like to get in touch with me, whether it’s to discuss a book, share your thoughts, or ask a question, I’d love to hear from you. Below are the best ways to contact me:</p>

        <div class="contact-info">
            <h2>Email</h2>
            <ul>
                <li><strong>Primary:</strong> <a href="mailto:dimka.kurilenko@gmail.com">dimka.kurilenko@gmail.com</a></li>
            </ul>

            <h2>Social Media</h2>
            <ul>
                <li><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/dmitrykurilenko/" target="_blank">www.linkedin.com/in/dmitrykurilenko/</a></li>
            </ul>

            <h2>Location</h2>
            <p>Kyiv, Ukraine</p>

            <h2>Phone</h2>
            <p>+33333333333</p>
        </div>

        <p>Feel free to reach out, and I’ll get back to you as soon as possible. Looking forward to connecting!</p>
    </div>
{% endblock %}