{% extends 'blog/base.html' %}

{% block title %}{{ book.title }}{% endblock %}

{% block content %}
    <h1>{{ book.title }}</h1>
    <p class="author">
        Author: {{ book.author }}
    </p>
    <p class="category">
        Category: {{ book.category }}
    </p>
    <p class="description">
        Description: {{ book.description }}
    </p>
    <p class="rating">
        Rating: {{ book.rating }}
    </p>
    {{ book.body|linebreaks }}
    {% with reviews.count as total_reviews %}
        <h2>
            {{ total_reviews }} review{{ total_reviews|pluralize }}
        </h2>
    {% endwith %}
    {% for review in reviews %}
        <div class="review">
            <p class="info">
                {{ review.user.username }}
                <p>{{ review.created }}</p>
            </p>
            {{ review.comment|linebreaks }}
        </div>
    {% empty %}
        <p>There are no reviews</p>
    {% endfor %}
    {% include 'blog/books/includes/review_form.html' %}
{% endblock %}
