{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Literary Blog{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'blog/css/styles.css' %}">
</head>
<body>
    <header class="bg-dark text-white py-3">
        <div class="container d-flex justify-content-between align-items-center">
            <h1><a class="text-white text-decoration-none" href="{% url 'blog:book_list' %}">Literary Blog by Dmitry K.</a></h1>
            <nav>
                <ul class="nav">
                    <li class="nav-item"><a class="nav-link text-white" href="{% url 'blog:book_list' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="{% url 'blog:blog_about' %}">About</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="{% url 'blog:blog_contacts' %}">Contact</a></li>
                    {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link text-white" href="{% url 'blog:book_add' %}">Add new book</a></li>
                    {% endif %}
                </ul>
            </nav>
            <div class="auth-links">
                {% if user.is_authenticated %}
                    <div class="d-inline mr-3">Welcome, {{ user.username }}</div>
                    <a class="btn btn-outline-light btn-sm" href="{% url 'accounts:logout' %}">Logout</a>
                {% else %}
                    <a class="btn btn-outline-light btn-sm" href="{% url 'accounts:login' %}">Login</a>
                    <a class="btn btn-outline-light btn-sm ml-2" href="{% url 'accounts:register' %}">Sign Up</a>
                {% endif %}
            </div>
        </div>
    </header>

    <div class="content py-5">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </div>

    <footer class="bg-dark text-white text-center py-3">
        <div class="container">
            <p>&copy; 2024 My Blog. All rights reserved.</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>