{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Literary Blog{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'blog/css/styles.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <h1><a class="blog_header" href="{% url 'blog:book_list' %}">Literary Blog by Dmitry K.</a></h1>
            <nav>
                <ul>
                    <li><a href="{% url 'blog:book_list' %}">Home</a></li>
                    <li><a href="{% url 'blog:blog_about' %}">About</a></li>
                    <li><a href="{% url 'blog:blog_contacts' %}">Contact</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'blog:book_add' %}">Add new book</a></li>
                    {% endif %}
                </ul>
            </nav>
            <div class="auth-links">
                {% if user.is_authenticated %}
                    <div>Welcome, {{ user.username }}</div>
                    <a href="{% url 'accounts:logout' %}">Logout</a>
                {% else %}
                    <a href="{% url 'accounts:login' %}">Login</a>
                    <a href="{% url 'accounts:register' %}">Sign Up</a>
                {% endif %}
            </div>
        </div>
    </header>

    <div class="content">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </div>

    <footer>
        <div class="container">
            <p>&copy; 2024 My Blog. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>