{% extends 'blog/base.html' %}

{% block title %}Books{% endblock %}

{% block content %}
    <div class="container">
        <h1>Books List</h1>

        <form method="get" class="filter-form">
            <div class="filter-group">
                <div class="filter-item">
                    {{ form.author.label_tag }} {{ form.author }}
                </div>
                <div class="filter-item">
                    {{ form.category.label_tag }} {{ form.category }}
                </div>
                <div class="filter-item">
                    {{ form.min_rating.label_tag }} {{ form.min_rating }}
                </div>
                <div class="filter-item">
                    {{ form.max_rating.label_tag }} {{ form.max_rating }}
                </div>
                <div class="filter-item">
                    <button type="submit" class="btn">Застосувати фільтр</button>
                </div>
            </div>
        </form>

        <ul class="book-list">
            {% for book in books %}
                <li>
                    <h2><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></h2>
                    <p class="author">Author: {{ book.author.name }}</p>
                    <p class="category">Category: {{ book.category.name }}</p>
                    <p class="date">Published: {{ book.publish|date:"F j, Y" }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
    
    <div class="pagination-container">
        <div class="pagination">
            {% if books.has_previous %}
                <a href="?page={{ books.previous_page_number }}">&laquo; Previous</a>
            {% endif %}
                
            <span class="current">
                Page {{ books.number }} of {{ books.paginator.num_pages }}
            </span>
        
            {% if books.has_next %}
                <a href="?page={{ books.next_page_number }}">Next &raquo;</a>
            {% endif %}
        </div>
    </div>
{% endblock %}